/* Typography */

.huge-heading {
	font-size: 2rem;
	margin: 2rem 0rem;
	padding-left: var(--default-padding);
}

.main-heading {
	font-size: 1.75rem;
	margin: 1.5rem 0rem;
	padding-left: var(--default-padding);
}

.sub-heading {
	font-size: 1.5rem;
	margin: 1rem 0rem;
	padding-left: var(--default-padding);
}

.sub-heading-2 {
	font-size: 1.25rem;
	margin: 1rem 0rem;
	padding-left: var(--default-padding);
}

.text {
	font-size: 1rem;
	margin: 1.5rem 0rem;
	padding: var(--default-padding);
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-small {
	font-size: 0.75rem;
	font-weight: bold;
}

.text-gray {
	color: var(--text-gray);
}
